@font-face {
    font-family: 'C4Aicons';
    src:url('../fonts/C4Aicons.eot');
    src:url('../fonts/C4Aicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/C4Aicons.ttf') format('truetype'),
        url('../fonts/C4Aicons.woff') format('woff'),
        url('../fonts/C4Aicons.svg#C4Aicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
    General frames styling
*/
body {
    margin: 5px;
    background-color: #f2f2f2;
    font-family: 'Roboto Slab', serif !important;
}

.gpii-prefsEditor-pmtContainer {
    height: 100%;
}

.gpii-prefsEditor-frameIcon {
    font-family: C4Aicons;
}

.gpii-prefsEditor-preferenceSetSelectionButton {
    display: table-cell;
    width: 50%;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    line-height: 1.2em;
    font-size: 1.2em;
}

.gpii-prefsEditor-preferenceSetSelectionButtonSelected {
    border: 3px solid #fffbd9;
    border-radius: 5px;
    color: #fffbd9;
    cursor: pointer;
}

.gpii-prefsEditor-preferenceSetSelectionButtonGrayed {
    color: #aeb5b6;
    cursor: default;
}

.gpii-prefsEditor-preferenceSetSelectionButtonMyPreferences:before {
    content: "\e617"
}

.gpii-prefsEditor-preferenceSetSelectionButtonAllPreferences:before {
    content: "\e614"
}

.gpii-prefsEditor-preferenceSetSelectionButtonLabel {
    vertical-align: top;
    cursor: inherit;
    font-family: 'Roboto Slab', serif;
}

.gpii-prefsEditor-preferencesContainer {
    height: calc(100% - 8em);
    overflow-x: hidden;
    overflow-y: auto;
}

.gpii-prefsEditor-preferenceSetSelectionHeader {
    display: block;
    background-color: #8c9597;
    padding: 10px;
}

.gpii-prefsEditor-preferences {
    background-color: #ced7d9;
    padding: 10px;
    position: absolute;
    overflow-y: auto;
    height: 700px;
    width: 338px;
}

.gpii-prefsEditor-save {
    font-family: 'Roboto Slab', serif;
    background-color: #BDE2E9;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0.1em 0.1em 0.1em -2.3em;
    padding: 0.4em 0.4em 0.4em 1.5em;
    position: relative;
    font-size: 1.5em;
    vertical-align: middle;
}

.gpii-prefsEditor-save:hover {
    background-color: #249FB7;
}

.gpii-pmt-saveAndApplyButtonLabel {
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    color: white;
    background-color: transparent !important;
    position: absolute;
    font-size: 2em !important;
    margin-left: -47px;
    margin-top: 12px;
}

.gpii-pmt-saveAndApplyButtonLabel:before {
    content: "\e60c"
}

.gpii-pmt-bottomRow {
    display: table;
    width: 100%;
    /*margin-top: -300px;*/
}

.gpii-prefsEditor-messageLine {
    display: table-cell;
    white-space: normal;
    width: 55%;
    font-style:italic;
    vertical-align: middle;
    font-size: 1.2em;
}

.gpii-prefsEditor-saveButtonContainer {
    display: table-cell;
    text-align: right;
    margin: 5px;
    vertical-align: top;
}

.ui-dialog {
    padding: 0 !important;
}

.gpii-prefsEditor-link {
    color: #249fb8;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.gpii-prefsEditor-userLogout {
    text-align: right;
    margin-left: 185px;
}

.gpii-prefsEditor-fullEditor {
    text-align: left;
}

.gpii-prefsEditor-reset {
    /*display: none;*/
}

.ui-widget-overlay {
    background: url("images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    opacity: 0.3;
}

.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.gpii-prefsEditor-adjusterGroup {
    margin-bottom: 2em;
    padding-bottom: 1em;
    background-color: #e5eded;
}

/* This conflits with speakText-style.css
Needed for the frame's popup */
.ui-corner-all {
    width: 28em !important;
}

.contrastPreferenceGroup {
    width: 325px;
}
.gpii-prefsEditor-increaseSizePanel {
    width: 325px;
}