.gpii-pmt-saveAndApplyButtonLabel {
    color: white;
    position: absolute;
    margin-left: -47px;
    margin-top: 12px;
}

.gpii-prefsEditor-link {
    color: #249fb8;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.gpii-prefsEditor-userLogout {
    text-align: right;
    margin-left: 185px;
}

.gpii-prefsEditor-fullEditor {
    text-align: left;
}

.contrastPreferenceGroup {
    width: 530px;
}
.gpii-prefsEditor-increaseSizePanel {
    width: 530px;
}
