/*
    Font icons
*/

.gpii-link-copy {
    border: 0.5em solid #0AA;
    border-radius: 0.31em;
    position: relative;
    height: 1.8em;
    background-color: #0AA;
    top: 6em;
    display: inline-block;
    width: auto;
    left: 1.4em;

}

.gpii-link-copy-label {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1em;
    background-color: #0AA;
    border: 0px none;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 5px;
    line-height: 1.3em;
    margin-top: 0em !important;
    display: inline-block;
    width: auto;
    text-align: left;
}

.gpii-link-copy-fontIcon {
    -webkit-font-smoothing: antialiased;
    display: table;
    padding-right: 0.5em;
}

.gpii-link-copy-fontIcon:before {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #00AAAA;
}

.gpii-link-copy-fontIcon:before {
    content: "\e64c";
}

.gpii-enter-email-address {
    background-color: #ffffff;
    border: 0.5em solid #ffffff;
    border-radius: 0.31em;
    left: 6.5em;
    margin-left: 10em;
    position: relative;
    top: 2.8em;
    width: 25em;
}

.gpii-enter-email-address-input {
    border: 0 none;
    margin-left: -0.2em;
    width: 25em !important;
    font-family: Courier New;
    font-weight: normal;
    font-size: 1em !important;
}


.gpii-download-copy {
    border: 0.5em solid #0AA;
    border-radius: 0.31em;
    position: relative;
    height: 1.8em;
    background-color: #0AA;
    top: 6em;
    display: inline-block;
    width: auto;
    left: 1.4em;

}

.gpii-download-copy-label {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1em;
    background-color: #0AA;
    border: 0px none;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 5px;
    line-height: 1.3em;
    margin-top: 0em !important;
    display: inline-block;
    width: auto;
}

.gpii-download-copy-fontIcon {
    -webkit-font-smoothing: antialiased;
    display: table;
    padding-right: 0.5em;
}

.gpii-download-copy-fontIcon:before {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #00AAAA;
}

.gpii-download-copy-fontIcon:before {
    content: "\e643";
}

.gpii-enter-message {
    background-color: #ffffff;
    border: 0.5em solid #ffffff;
    border-radius: 0.31em;
    left: 6.5em;
    margin-left: 10em;
    position: relative;
    top: 1em;
    width: 25em;
}

.gpii-enter-message-input {
    border: 0 none;
    font-family: Courier New;
    font-weight: normal;
    font-size: 1em;
    margin-left: -0.2em;
    width: 25em;
    height: 9em;
    
}

.gpii-email-copy {
    border: 0.5em solid #0AA;
    border-radius: 0.31em;
    position: relative;
    height: 1.8em;
    background-color: #0AA;
    top: 2em;
    display: inline-block;
    width: auto;
    right: 2.4em;
    float: right;
}

.gpii-email-copy-label {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1em;
    background-color: #0AA;
    border: 0px none;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 5px;
    line-height: 1.3em;
    margin-top: 0em !important;
    display: inline-block;
    width: auto;
}

.gpii-email-copy-fontIcon {
    -webkit-font-smoothing: antialiased;
    display: table;
    padding-right: 0.5em;
}

.gpii-email-copy-fontIcon:before {
    font-size: 22px;
    font-weight: normal;
    color: #FFFFFF;
}

.gpii-email-copy-fontIcon:before {
    content: "\e656";
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

:disabled {
    opacity: 0.4;
    cursor: default;
}
