/* Discovery Tool styling, over-rides default Fat Panel styles */

.fl-uiOptions-fatPanel {
    background: none;
    background-color: #777;
    overflow: hidden;
}


.fl-uiOptions-fatPanel .fl-uiOptions-panels {
    text-align: center;
}

.fl-uiOptions-fatPanel .fl-uiOptions-panels li.fl-uiOptions-panel {
    width: 9em;
    height: 9em;
    min-height: none;
    background: none;
    border: none;
    text-align: center;
    margin: 0;
}

.fl-uiOptions-fatPanel .fl-uiOptions-panels li.fl-uiOptions-panel button {
    width: 6em;
    height: 6em;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0;
}

.fl-uiOptions-fatPanel .fl-uiOptions-panels li.fl-uiOptions-panel h2 {
    border: none;
    box-shadow: none;  
    text-transform: lowercase;  
    color: #fff;
}