/* Demo content */
@font-face {
    font-family: 'DemoIcons'; 
    src:url('fonts/Demo-CK12.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Demo-CK12.eot'), 
         url('fonts/Demo-CK12.ttf');
}

body {
    background-color: #F9F9F5;
    color: #5C5C5C;

    font-family: "ProximaNova","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    line-height: 150%;    
}

h1, h2, h3, h4, h5, h6, div, ul, ol, dt {
    color: #56544D;
}

a {
    cursor: pointer;
    color: #00ABA4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#main-header {
    background-color: #FFFFFF;
    box-shadow: 0 3px 2px #CCCCCC;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
}

#main-header #main-header-content {
    max-width: 63em;
    margin: 0 auto;
}
#main-header #main-header-content div {
    float:right;    
    text-align: right;
    margin-right: 2em;
    width: 50%;
}

#main-header input {
    background-color: #F2F2F1;
    color: #56544D;
    font-size: 0.875em;
    padding: 0 0px 0 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 2.3em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;    
    width: 50%;
}

#main-header input[type=search] { -webkit-appearance: textfield; }

#main-header .subjects {
    color: #666666;
    text-transform: uppercase;
    padding-left: 0.5em;
    font-weight: bold;
    font-size: 90%;
}


/* Main content */
.main-content {
    margin: 4em auto;
    max-width: 60em;
}

.main-content header img { float: left; }
.main-content header h1 {
    float: left; 
    margin-left: 1em;
}

.main-content header #breadcrumbs {
    float: left; 
    margin-left: -6.15em;
    margin-top: 4em;    
}

.main-content header #prevNext {
    float: right; 
    margin-top: 1em;
}

#main {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);    
}

#main #helpful h1 {
    float: left;
    margin-top: 0.5em;
    color: #00ABA4;
}

#main #helpful div {
    float:right;
    margin-top: 0.75em;
}

#main .resource-tools {
    clear: both;
    float: left;
    width: 15%;
}
#main .resource-tools .tools {
    margin: 0;
}
#main .resource-tools .tools li:first-child {
   /* box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); */
}
#main .resource-tools .tools li {
    list-style: none;
    border-top: 1px solid #DCDCDC;
    margin-bottom: 0;
    padding: 10px 0;
}

#main #content {
    margin-left: 16%;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px #C5C5C5;    
    padding: 3em;
}

/* Article */
.main-content #article-filters {
    border-bottom: 1px solid #E6E6E6;

}
.main-content #article-filter {
    float: left;
    padding-right: 7em;
    /*border-right: 1px dotted #56544D;*/
}
.main-content .article-tab {
    float: left;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-align: center;
    border-right: 1px dotted #56544D;
    margin-bottom: 0.5em;
}
.main-content .article-tab span {
    display: block;
    font-size: 2.5em;
}

.main-content section {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 0.25em;
    padding-bottom: 2em;
}

article h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0.4em;
    padding-top: 15px;
}

.main-content img {
    margin: 1em 0; 
}

/* Discovery Tool */
.fl-panelBar {
    text-align: right;
    background-color: #6f7b80;
    padding: 1em;
}
.fl-panelBar button {
    background-color: #6f7b80;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fl-uiOptions-discoveryTool  {
    position: fixed;
    bottom: 0;
    width: 100%;    
}

.fl-uiOptions-discoveryTool iframe {
    width: 100%;
    border: none;
}

/* Font Icons */

.fl-icon-search, .fl-icon-prev, .fl-icon-next, .fl-icon-thumbsUp, .fl-icon-thumbsDown, .fl-icon-arrow, .fl-icon-light, .fl-icon-book {
    font-family: 'DemoIcons';    
}
.fl-icon-search:before {
	content: "\ea06";
}
.fl-icon-prev:before {
	content: "\a000";
}
.fl-icon-next:before {
	content: "\a001";
}
.fl-icon-thumbsUp:before {
	content: "\a002";
    font-size: 2em;	
}
.fl-icon-thumbsDown:before {
	content: "\a003";
    font-size: 2em;	
}
.fl-icon-arrow:before {
	content: "\a004";
	font-size: 0.6em;
}
.fl-icon-light:before {
	content: "\a007";
}
.fl-icon-book:before {
	content: "\e008";
}