/*
    Font icons
*/
@font-face {
    font-family: 'C4Aicons';
    src:url('../fonts/C4Aicons.eot');
    src:url('../fonts/C4Aicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/C4Aicons.ttf') format('truetype'),
        url('../fonts/C4Aicons.woff') format('woff'),
        url('../fonts/C4Aicons.svg#C4Aicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allIcons';
    src: url('../fonts/allIcons.ttf') format('truetype'),
         url('../fonts/allIcons.eot');
}

@font-face {
    font-family: 'radioButtonIcons';
    src: url('../fonts/blackDot.ttf') format('truetype'),
         url('../fonts/blackDot.eot');
}

@font-face {
    font-family: 'checkboxTick';
    src: url('../fonts/tick.ttf') format('truetype'),
         url('../fonts/tick.eot');
}

/*
    The adjusters' font icons
*/
.gpii-signup-adjusterIcons {
    float: left;
    font-family: 'C4Aicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
    The font icons
*/

.gpii-signup-headerImage {
    -webkit-font-smoothing: antialiased;
    width: 130px; 
    margin: 0px;
    border-top: 5px solid #F2F2F2;
    display: table;
}

.gpii-signup-headerImage:before {
    font-size: 60px;
    font-weight: normal;
    color: #474C66;
    vertical-align: middle;
  	padding-left: 20px;
  	padding-right: 20px;
}

.gpii-signup-tab1 .gpii-signup-headerImage:before {
    content: "\e64e";
}

.gpii-signup-tab2 .gpii-signup-headerImage:before {
    content: "\e667";
}

.gpii-signup-tab3 .gpii-signup-headerImage:before {
    content: "\e66f";
}

.gpii-signup-tab4 .gpii-signup-headerImage:before {
    content: "\e662";
}

.gpii-login-textfield-icon {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    width: 30px;
    display: table;
}

.gpii-login-textfield-icon:before {
    font-size: 30px;
    font-weight: normal;
    background-color: #F2F2F2;
    color: #474C66;
    vertical-align: middle;
  	padding: 3px;
  	display: inline-block;
  	height: 1.08em;
}

.gpii-signup-tab1 .gpii-signup-username .gpii-login-textfield-icon:before {
    content: "\e661";
}

.gpii-signup-tab1 .gpii-signup-passwd .gpii-login-textfield-icon:before, .gpii-signup-tab1 .gpii-signup-cpasswd .gpii-login-textfield-icon:before {
    content: "\e65d";
}

input[type=checkbox]:checked + label > .gpii-signup-checkbox-icon:before {
	background-color: #474C66;
    content: "\e60a";
}

.gpii-signup-password-icon, .gpii-signup-password-icon-short, .gpii-signup-password-icon-match, .gpii-signup-password-icon-donotmatch, .gpii-signup-username-icon, .gpii-signup-username-icon-available, .gpii-signup-username-icon-notavailable {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    width: 35px;
    display: table;
    float: right !important;
}

.gpii-signup-password-icon:before, .gpii-signup-password-icon-short, .gpii-signup-password-icon-match:before, .gpii-signup-password-icon-donotmatch:before, .gpii-signup-username-icon:before, .gpii-signup-username-icon-available:before, .gpii-signup-username-icon-notavailable:before {
    font-size: 22px;
    font-weight: normal;
    background-color: #FFFFFF;
    vertical-align: middle;
  	padding: 0px;
  	display: inline-block;
  	height: 1em;
}

.gpii-signup-tab1 .gpii-signup-passwd .gpii-signup-password-icon:before, .gpii-signup-tab1 .gpii-signup-cpasswd .gpii-signup-password-icon-match:before, .gpii-signup-tab1 .gpii-signup-username .gpii-signup-username-icon-available:before {
    content: "\e638";
}

.gpii-signup-tab1 .gpii-signup-cpasswd .gpii-signup-password-icon-donotmatch:before, .gpii-signup-password-icon-short:before, .gpii-signup-tab1 .gpii-signup-username .gpii-signup-username-icon-notavailable:before {
    content: "\e639";
}

/*
    General preferences styling
*/

html {
    font: 1em arial,helvetica,clean,sans-serif;
    color: #FFFFFF;
}

body {
	background-color: #CCCCCC;
	font-family: "Roboto Slab",serif;
}

label {
	display: inline;
}

input[type=checkbox] {
	display: none;
}

.gpii-signup-italics{
	font-style: italic;
}

.gpii-signup-main {
	background-color: #F2F2F2;
	font-family: "Roboto Slab",serif;
	width: 600px;
	height: 800px;
	margin: 1em auto;
	border-radius: 5px;
}

div.gpii-signup-tabs {
	position: relative;
	display: block;
	width: 520px;
	height: 420px;
	margin: 1em auto;
	top: 100px;
}

div.gpii-signup-tabs section {
	position: absolute;
	display: block;
	top: 0em;
	left: 0;
	width: 460px;
	height: 23em;
	padding: 20px 30px 20px 30px;
	background-color: #FFFFFF;
	border-radius:	0px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	z-index: 0;
}

div.gpii-signup-tabs section:first-child {
	z-index: 1;
}

div.gpii-signup-tabs section h2 {
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 130px;
	top: -5.94em;
	left: 0px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #F2F2F2;
	border-radius: 0 0 0 0;
}

div.gpii-signup-tabs section:nth-child(2) h2 {
	left: 130px;
}

div.gpii-signup-tabs section:nth-child(3) h2 {
	left: 260px;
}

div.gpii-signup-tabs section:nth-child(4) h2 {
	left: 390px;
}

div.gpii-signup-tabs section h2 a {
	display: block;
	width: 100%;
	line-height: 1.86;
	text-align: center;
	text-decoration: none;
	color: black;
	outline: 0 none;
	vertical-align: middle;
}

div.gpii-signup-tabs .gpii-signup-icon-text {
	font-family: "Courier-new";
}

div.gpii-signup-tabs section:target, 
div.gpii-signup-tabs section:target h2 {
	color: black;
	background-color: #FFFFFF;
	font-weight: normal;
	z-index: 2;
}

div.gpii-signup-tabs section:target h2 {
	border-radius:	0px;
	box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
}

div.gpii-signup-tabs section:target .gpii-signup-headerImage {
    -webkit-font-smoothing: antialiased;
    width: 130px; 
    margin: 0px;
    border-top: 5px solid #00AAAA;
    display: table;
}

div.gpii-signup-tabs section,
div.gpii-signup-tabs section h2 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.gpii-signup-head {
	font-weight: normal;
	font-size: 1em;
	color: #000000;
	padding-left: 40px;
	padding-top: 0.05em;
}

.gpii-signup-head .gpii-signup-label {
	font-family: Book Antiqua;
	display: block;
	font-size: 2.2em;	
}

.gpii-signup-head .gpii-signup-description {
	font-family: Courier New;
	font-size: 1em;
	display: block;
}

.gpii-signup-terms {
	position: relative;
	font-weight: normal;
	font-family: Verdana;
	font-size: 1em;
	float: right;
	margin-right: 40px;
	height: 1.5em;
	bottom: -120px;
	background-color: inherit;
	color: #474C66;	
}

.gpii-signup-tail {
	position: relative;
	display: table;
	font-weight: normal;
	font-size: 1em;
	background-color: #00AAAA;
	width: inherit;
	height: 3em;
	bottom: -160px;	
	border-radius: 0px 0px 5px 5px;
}

.gpii-signup-login-h3 {
	font-weight: bold;
	font-family: Courier New;
	
}
/*
.login-label {
	font-weight: normal;
	font-family: Courier New;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: inherit;
}
*/
.gpii-signup-login-label {
	text-align: left;
}

.gpii-signup-passwd-header, .gpii-signup-cpasswd-header, .gpii-signup-username-header {
	font-weight: normal;
	font-family: Courier New;
	font-size: 0.95em;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: inherit;
	line-height: 1.4em;
}

.gpii-signup-textfield {
	font-weight: normal;
	font-family: Courier New;
	font-size: large;
	display: inline-block;
	border: 0em;
}

.gpii-login-textfield {
	width: 23em;
	height: 2em;
	background-color: #F2F2F2;
}

.gpii-signup-recovery-textfield {
	width: 20.5em;
	height: 3em;
	background-color: #F2F2F2;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 40px;
	border-radius: 5px;
	float: left;
}

input[type=checkbox] + label > .gpii-signup-checkbox-icon {
	background-color: #FFFFFF;
	border: 2px solid #474C66;
	border-radius: 4px;
	color: #FFF;
	height: 1em;
	position: relative;
	width: 1em;
	float: left;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
}

input[type=checkbox]:checked + label > .gpii-signup-checkbox-icon {
	background-color: #474C66;
}

.gpii-signup-checkbox-icon-small {
	font-size: 1em;
}

.gpii-signup-checkbox-icon-medium {
	font-size: 1.2em;
}

a#termsLink{
	font-weight: bold;
	color: #474C66;
}

.gpii-signup-createAccountButton {
	font-weight: bold;
	font-family: Verdana;
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 7px;
	float: right;
	background-color: #474C66;
	color: white;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

.gpii-signup-cancelButton {
	font-weight: bold;
	font-family: Verdana;
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 7px;
	float: left;
	background-color: #00AAAA;
	color: #474C66;
	border: 0px;
	cursor: pointer;
}

.gpii-signup-overlay {
    position: fixed;
    top: 0;
	width: 600px;
	height: 100%;
    background-color: #00AAAA;
    opacity: 0.8;
    z-index: 10;
    margin: 0em auto;
	border-radius: 5px;
}

.gpii-signup-modal {
    width: 450px;
    height: 400px;
    line-height: 1em;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    margin-left: -225px;
    background-color: #FFFFFF;
    border-radius: 1px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);	
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

.gpii-signup-recovery {
	position: relative;
	font-weight: normal;
	font-family: Verdana;
	font-size: 1em;
    width: 370px;
    height: 340px;
	float: left;
	margin-left: 40px;
	margin-rigth: 40px;
	top: 30px;
	background-color: inherit;
	color: #474C66;	
}

.gpii-signup-recovery-span-header {
	font-weight: bold;
	font-family: Book Antiqua;
	font-size: 1.5em;
	width: inherit;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-right: 0px;
	float: left;
	display: block;
	text-align: left;
}

.gpii-signup-recovery-checkbox-text {
	font-weight: bold;
	font-family: Book Antiqua;
	font-size: 1.2em;
	float: left;
	line-height: 22px;
}

.gpii-signup-recovery-description {
	font-weight: normal;
	font-family: Verdana;
	font-size: 1em;
	width: inherit;
	float: left;
	text-align: left;
	padding-top: 20px;
	display: block;
}

.gpii-signup-revocery-tail {
	position: relative;
	font-weight: normal;
	font-size: 1em;
	background-color: inherit;
	width: inherit;
	height: 3em;
	margin-: 
}

.gpii-signup-recovery-got-it {
	font-weight: bold;
	font-family: Verdana;
	font-size: 1.1em;
	padding: 10px 20px 10px 20px;
	float: right;
	background-color: #474C66;
	color: white;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

.gpii-signup-recovery-back {
	font-weight: bold;
	font-family: Verdana;
	font-size: 1.1em;
	padding: 10px 0px 10px 0px;
	float: left;
	background-color: inherit;
	color: #474C66;
	border: 0px;
	cursor: pointer;
}

.disabled {
	opacity: 0.5;
	cursor: default;
}

:disabled {
	opacity: 0.4;
	cursor: default;
}

#tab1 .gpii-signup-password-short {
	color: #FF0000;
}

#tab1 .gpii-signup-password-weak {
	color: orange;
}

#tab1 .gpii-signup-password-good {
	color: #2D98F3;
}

#tab1 .gpii-signup-password-very-good {
	color: blue;
}

#tab1 .gpii-signup-password-strong, #tab1 .gpii-signup-match, #tab1 .gpii-signup-available {
	color: #20C857;
}

#tab1 .gpii-signup-donotmatch, #tab1 .gpii-signup-notavailable {
	color: #FF0000;
}

.gpii-signup-passwd-header .gpii-signup-passwd-description, .gpii-signup-cpasswd-header .gpii-signup-passwd-description, .gpii-signup-username-header .gpii-signup-username-description {
	float: right;
	padding-right: 10px;
}