/*
	Font icons
*/
@font-face {
	font-family: 'icons-no-frames-aug-29';
	src:url('../fonts/icons-no-frames-aug-29.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'font-icons-sept-3';
	src:url('../fonts/font-icons-sept-3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sept-12';
	src:url('../fonts/sept-12.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
	General preferences styling
*/

body {
	transform-origin: 0 0 0;	
}

.preference {
	background:#ECEFEF;
	width: 340px;
	min-height: 100px;
}

.fl-uiOptions-category {
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.fl-uiOptions label::first-letter {
    text-transform: capitalize;
}

.fl-uiOptions label {
    font-size: 0.8em;
}

.fl-uiOptions-fullPreview h2 {
	display: table-cell !important;
    text-transform: none !important;
}

/*
	Header's styling
*/
.headerImage {
	-webkit-font-smoothing: antialiased;
	width: 330;
   	height:90;
   	margin-top: 4px !important;
	margin:5px;
    cursor:default;
	font-size: 90px !important;
	color: #566374;
	background-color: white;
}

.headerImage {
	color: white;
	background-color: #566374;	
}

.headerImageTick {
	font-size: 20px !important;
    margin-left: 300px;
    margin-top: 60px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    color: #566374;
}

.headerImageTick:before {
	content: "\e00a" !important;
}

input[type=checkbox] ~ .headerImageTick{
	display: none;
}

input[type=checkbox]:checked ~ .headerImageTick{
	display: block;
}

input[type=checkbox] + .headerImage:before {
	content: "\e003";
}

.adjusterGroupTitle {
	margin: 5px;
}

.headerTitle {
	font-family: 'Roboto Slab', serif;
	//position: absolute; 
   	//top: 20px; 
   	left: 0; 
   	width: 100%;
   	color: white;
   	text-align: center;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    display: none;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox] + .headerImage + label.headerTitle {
    //background: url('../images/increaseSizeHeader.png') no-repeat;
    background-size:330px 90px;
    //padding-left:30px;
    cursor:pointer;
    margin: 5px;
    margin-top: -95px;
    font-size: 1.5em;
    text-align: center;
    //padding-left: 3px;
    color:white;
    display:inline-block;
    line-height:90px;
    height: 90px;
    width:330px;
}

input[type=checkbox]:checked + .headerImage + label.headerTitle {
    //background: url('../images/increaseSizeHeaderChecked.png') no-repeat;
    background-size:330px 90px;
    //padding-left:30px;
    cursor:pointer;
    margin: 5px;
    margin-top: -95px;
	font-size: 1.5em;
    text-align: center;
    //padding-left: 3px;
    color:white;
    display:inline-block;
    line-height:90px;
    height: 90px;
    width:330px;
}

/*
	The adjusters' font icons
*/
.fl-adjuster-icons {
	float: left;
	font-family: 'icons-no-frames-aug-29';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.fl-adjuster-icons-additional > .fl-magnifierPosition-uio-icon-main {
	font-family: 'font-icons-sept-3';
	margin-top: 0em;
}

.fl-icon-small-cursor:before {
	font-size: 0.8em !important;
	content: "\e000";
}
.fl-icon-big-cursor:before {
	font-size: 1.9em !important;
	content: "\e000";
}
.fl-icon-small-cursor {
	width: 30px;
	text-align: right;
	padding-top: 0.25em;
}
.fl-icon-big-cursor {
	width: 35px;
	margin-top: -0.5em !important;
}

/*
	The slider's style
*/
.fl-uiOptions .fl-slider-horz {
    width: 200px;
    margin: 2px !important;
}

.fl-uiOptions .fl-slider a {
    //background: radial-gradient(circle 14.5px at 14.5px 50%, #566374 6px, white 8px);
    border: 1px solid #566374;
}

.fl-uiOptions .ui-slider-range {
    background-color: #17a9b8;
}

.fl-uiOptions .fl-slider a {
    box-shadow: none;
}

/*
	The plusMinusAdjuster style
*/
.flc-uiOptions-plus-minus-numerical-minus, .flc-uiOptions-plus-minus-numerical-plus {
	width: 10% !important;
	//height: 2em !important;
	font-size: 1.5em !important;
	cursor: pointer;
	text-align: center !important;
	background-color: white;
	margin-left: 2px !important;
	margin-right: 2px !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding-top: 0.05em;
}

.flc-uiOptions-plus-minus-numerical-widget {
	width: 100% !important;
	background-color: #FFFFFF;
	display: table;
    //height: 2em;
}

.flc-uiOptions-plus-minus-numerical-value {
	width: 76% !important;
	border: none !important;
	//height: 2em !important;
	text-align: center !important;
	font-size: 1.5em !important;
}

/*
	Style for sliding to work
*/
.increaseSizePreferenceGroup {
	padding-top: 100px;
}

.fl-uiOptions-category {
	overflow: hidden;
}

.fl-uiOptions-category-hidden {
	overflow: hidden;
}

/*
	Style for more/less
*/
.moreLess{
	width:100% !important;
	text-align: center;
	cursor: pointer;
	padding-bottom: 5px !important;
}

/*
	Style for magnifier position font icons
*/
.fl-magnifierPosition-uio-icon-label {
	height: 4.7em !important;
	width: 6.3em !important;
	border: none !important;
	padding: 0 !important;
	cursor: pointer;
	background-color: white;
	margin-bottom: 0.5em !important;
	margin-right: 0.5em !important;
}

.fl-magnifierPosition-uio-icon {
	height: 0 !important;
	width: 0 !important;
	color: #636c7c;
	margin-top: -2px;
}

.fl-magnifierPosition-uio-icon:before {
	font-size: 5em !important;
}

.fl-magnifierPosition-uio-background {
	height: 4.9em !important;
	width: 6.3em !important;
	padding-top: 2px;
}

.fl-magnifierPosition-uio-background:before {
	font-size: 4.8em !important;
	content: "\e00b" !important;
}
	
.fl-magnifierPosition-uio-fullscreen > .fl-magnifierPosition-uio-frame:before {
	font-size: 5em !important;
	content: "\e008" !important;
}

.fl-magnifierPosition-uio-lens > .fl-magnifierPosition-uio-icon:before {
	content: "\e00a";
} 

.fl-magnifierPosition-uio-fullscreen > .fl-magnifierPosition-uio-icon-main {
	opacity:0.5;
	position: relative;
	top: 0.15em;
	left: 0.15em;
}

.fl-magnifierPosition-uio-fullscreen > .fl-magnifierPosition-uio-icon-main:before {
	content: "\e009";
	font-size: 4.7em !important;
	color: #00a9bd;
}

.fl-magnifierPosition-uio-top > .fl-magnifierPosition-uio-icon-main:before {
	content: "\e001";
}

.fl-magnifierPosition-uio-bottom > .fl-magnifierPosition-uio-icon-main {
	//transform:rotateX(180deg);
	//-ms-transform:rotate(180deg); /* IE 9 */
	//-webkit-transform:rotate(180deg); /* Safari and Chrome */
	//position: relative;
	//top: 5em;
}

.fl-magnifierPosition-uio-bottom > .fl-magnifierPosition-uio-icon-main:before {
	content: "\e004";
}

.fl-magnifierPosition-uio-left > .fl-magnifierPosition-uio-icon-main {
	//transform:rotate(270deg) scaleX(0.8) scaleY(1.24);
	//-ms-transform:rotate(270deg) scaleX(0.78) scaleY(1.24); /* IE 9 */
	//-webkit-transform:rotate(270deg) scaleX(0.78) scaleY(1.24); /* Safari and Chrome */
	//position: relative;
	//top: 5.05em;
}

.fl-magnifierPosition-uio-left > .fl-magnifierPosition-uio-icon-main:before {
	content: "\e003";
}

.fl-magnifierPosition-uio-right > .fl-magnifierPosition-uio-icon-main {
	//transform:rotate(90deg) scaleX(0.81) scaleY(1.24);
	//-ms-transform:rotate(270deg) scaleX(0.78) scaleY(1.24); /* IE 9 */
	//-webkit-transform:rotate(270deg) scaleX(0.78) scaleY(1.24); /* Safari and Chrome */
	//position: relative;
	//left: 6.3em;
	//top: 0.07em;
}

.fl-magnifierPosition-uio-right > .fl-magnifierPosition-uio-icon-main:before {
	content: "\e002";
}

/*
	Style for magnifier position indicator
*/
.fl-uiOptions .fl-icon-indicator:before, .fl-uiOptions .fl-choice input:checked + div:before {
    content: "\e007";
}
.fl-uiOptions .fl-choice .fl-indicator {
    font-family: 'icons-no-frames-aug-29' !important;
    font-size: 0.8em;
 	color: #636c7c;
 	position: relative;
 	top: 0.4em;
    height: 1em !important;
    margin: -0.75em 0 0 2.15em !important;
    z-index: 1;
}

/*
	Style for magnifier follows font icons
*/
.fl-magnifierFollows-uio-icon-label {
	height: 7.7em !important;
	width: 6.5em !important;
	border: none !important;
	padding: 0 !important;
	cursor: pointer;
	background-color: white;
	margin-bottom: 0.5em !important;
	margin-right: 0.5em !important;	
}

.fl-magnifierFollows-uio-icon {
	font-size: 7.7em !important;
	color: #636c7c;
}

.fl-magnifierFollows-uio-mouseCursor > .fl-magnifierFollows-uio-icon {
}

.fl-magnifierFollows-uio-mouseCursor > .fl-magnifierFollows-uio-icon:before {
	content: "\e003";
}

.fl-magnifierFollows-uio-textCursor > .fl-magnifierFollows-uio-icon:before {
	content: "\e004";
}

.fl-magnifierFollows-uio-keyboardFocus > .fl-magnifierFollows-uio-icon:before {
	content: "\e006";
}

/*
	Style for magnifier follows checked font icons
*/
.fl-magnifierFollows-uio-icon-check {
	background-color: #636C7C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 1.2em;
    margin-left: 3.65em;
    margin-top: -1.7em;
    //position: absolute;
    //width: 1.5em;
}

input:checked + .flc-uiOptions-magnifierFollows-label > .fl-magnifierFollows-uio-icon-check {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border: 1px solid;
}

input:checked + .flc-uiOptions-magnifierFollows-label > .fl-magnifierFollows-uio-icon-check:before {
	content: "\e002";
}

/*
	Style for magnifier follows legend
*/
.fl-magnifierFollows-legend {
	line-height: 1.1em;
	color: #566374;
}

.fl-magnifierFollows-legend::first-letter {
    text-transform: capitalize;
}

/*
	Style for preview-per-setting iframe and content
*/
.flc-uiOptions-preview-per-setting-frame {
	width: 100% !important;
	margin-top: -1em;
}

.flc-uiOptions-preview-per-setting-container {
	background-color: #d3dfdf;
	border: 1px solid #beced1;
	color: #B8C9CC;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.flc-uiOptions-preview-per-setting-eye {
}

.flc-uiOptions-preview-per-setting-eye:before {
	position: relative;
    z-index: 2;
    background-color: transparent !important;
	content: "\e00c";
}

.flc-uiOptions-preview-per-setting-eye-background {
	position: relative;
	background-color: #000000;
    height: 0.34em;
    margin-left: 0.1em;
    margin-top: 0.1em;
    width: 0.5em;
    z-index: 1;
}

.flc-uiOptions-preview-per-setting-body {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}

.flc-uiOptions-preview-per-setting-div {
	width: 100%; 
	height: 100%; 
	position: relative;
}

.flc-uiOptions-preview-per-setting-div-inner { 
	position: absolute; 
	display: table; 
	width: 100%; 
	height: 100%; 
}

.flc-uiOptions-preview-per-setting-div-inner p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	padding: 10px;
}

.flc-uiOptions-preview-per-setting-div-inner div {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	padding: 10px;
	float: none;
}

.flc-uiOptions-preview-per-setting-cursor1:before {
	content: "\e006";
}

.flc-uiOptions-preview-per-setting-cursor2:before {
	content: "\e005";
}

.flc-uiOptions-preview-per-setting-cursor3:before {
	content: "\e001";
}

/*
	Style for "Add to my preferences" star font icon
*/
.fl-adjuster-icons-additional {
	font-family: 'font-icons-sept-3';
}

.addToMyPreferencesStar:before {
	content: "\e000";
}

.addToMyPreferencesStar {
	margin-left: 310px;
    margin-top: 10px;
    color: #6b7281;
  	position: absolute;
    font-size: 16px;
}

input:checked + .addToMyPreferencesStar {
    color: #fae80b;
}

.addToMyPreferencesLabel {
	height: 16px !important;
    position: absolute;
    width: 16px !important;
    cursor: pointer;
	margin-left: 310px;
    margin-top: 10px;
}

/*
	Style for tooltips
*/
[title]:after{
	background-color: #f4e413;
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;
	border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
}
[title]:hover:after{
	left:0px;
	opacity:1;
}

.addToMyPreferencesLabel[title]:after {
	content:attr(tooltip-unchecked);
}

input:checked + .addToMyPreferencesStar + .addToMyPreferencesLabel[title]:after {
	content:attr(tooltip-checked);
}

.flc-uiOptions-magnifierPosition-label[title] {
	position:relative;
}

.flc-uiOptions-magnifierPosition-label[title]:after {
	content: attr(tooltip);
	line-height: 1em !important;
	font-size: 1em;
	white-space:normal;
}

/*
	Style for contrast
*/
.flc-uiOptions-contrast-theme {
	color: yellow;
	background-color: black;
}

.flc-uiOptions-default-theme {
	color: black;
	background-color: #D3DFDF;
}

.flc-uiOptions-contrast-theme .headerImage {
	background-color: black !important;
	color: yellow !important;
}

.flc-uiOptions-contrast-theme .headerTitle {
	background-color: transparent !important;
	color: black !important;
}

.flc-uiOptions-contrast-theme .addToMyPreferencesLabel {
	background-color: transparent !important;
}

.flc-uiOptions-contrast-theme .addToMyPreferencesStar {
	background-color: yellow !important;
	color: black !important;
}

.flc-uiOptions-contrast-theme input:checked + .addToMyPreferencesStar {
	background-color: black !important;
	color: yellow !important;
}

 .flc-uiOptions-contrast-theme [title]:after{
	background-color: black !important;
	border: 1px solid yellow !important;
}

.flc-uiOptions-contrast-theme .headerImage {
	background-color: yellow !important;
	color: black !important;
}


/*
	Style for sept-12 font icons
*/
.fl-adjuster-icons-sept-12 {
	font-family: 'sept-12';
}

/*
	Style for contrast header
*/
.flc-uiOptions-contrast > .headerImage:before {
	content: "\e002" !important;
}
