@font-face {
	font-family: 'cursor-pointer-icon';
	src:url('../fonts/cursor-pointer-icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.fl-icon-cursor-icons {
	float: left;
	font-family: 'cursor-pointer-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.fl-icon-small-cursor:before {
	content: "\e000";
}
.fl-icon-big-cursor:before {
	content: "\f000";
}

.preference {
	background:#ECEFEF;
	width: 340px;
}

.adjusterGroupTitle {
	margin: 5px;
}

.fl-uiOptions-category {
    width: 80%;
    margin: 0 auto;
}

.fl-uiOptions .fl-slider-horz {
    width: 15em;
}

.fl-uiOptions label::first-letter {
    text-transform: capitalize;
}

.fl-uiOptions .fl-slider a {
    background: radial-gradient(circle 14.5px at 14.5px 50%, #566374 6px, white 8px);
    border: 1px solid #566374;
}

.fl-uiOptions .ui-slider-range {
    background-color: #17a9b8;
}

.headerImage {
	position: relative; 
   	width: 100%; /* for IE 6 */
}

.headerTitle {
	position: absolute; 
   	top: 20px; 
   	left: 0; 
   	width: 100%;
   	color: white;
   	text-align: center;
}

.fl-uiOptions label {
    font-size: 0.8em;
}

.fl-uiOptions .fl-slider a {
    box-shadow: none;
}

.flc-uiOptions-plus-minus-numerical-minus, .flc-uiOptions-plus-minus-numerical-plus {
	width: 10% !important;
	height: 25px !important;
	font-size: 20px !important;
	cursor: pointer;
	text-align: center !important;
	background-color: white;
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.flc-uiOptions-plus-minus-numerical-widget {
	width: 100% !important;
	background-color: #FFFFFF;
    height: 25px;
}

.flc-uiOptions-plus-minus-numerical-value {
	width: 76% !important;
	border: none !important;
	height: 25px !important;
	text-align: center !important;
}