/*
    Font icons
*/
@font-face {
    font-family: 'C4Aicons';
    src:url('../fonts/C4Aicons.eot');
    src:url('../fonts/C4Aicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/C4Aicons.ttf') format('truetype'),
        url('../fonts/C4Aicons.woff') format('woff'),
        url('../fonts/C4Aicons.svg#C4Aicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allIcons';
    src: url('../fonts/allIcons.ttf') format('truetype'),
         url('../fonts/allIcons.eot');
}

@font-face {
    font-family: 'radioButtonIcons';
    src: url('../fonts/blackDot.ttf') format('truetype'),
         url('../fonts/blackDot.eot');
}

@font-face {
    font-family: 'checkboxTick';
    src: url('../fonts/tick.ttf') format('truetype'),
         url('../fonts/tick.eot');
}

/*
    The adjusters' font icons
*/
.gpii-login-adjusterIcons {
    float: left;
    font-family: 'C4Aicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
    The font icons
*/

.gpii-login-icon {
    -webkit-font-smoothing: antialiased;
    width: 30px;
    display: table;
}

.gpii-login-icon:before {
    font-size: 2.2em;
    font-weight: normal;
    background-color: #F2F2F2;
    color: #474C66;
    vertical-align: middle;
    padding: 0.1em;
    margin-top: 0.7em;
    display: inline-block;
    height: 1.08em;
}

.gpii-login-textfield-icon {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    width: 30px;
    display: table;
}

.gpii-login-textfield-icon:before {
    font-size: 30px;
    font-weight: normal;
    background-color: #F2F2F2;
    color: #474C66;
    vertical-align: middle;
    padding: 3px;
    display: inline-block;
    height: 1.08em;
}

.gpii-login-failed-icon1, .gpii-login-failed-icon2, .gpii-login-failed-icon3 {
    -webkit-font-smoothing: antialiased;
    width: 30px;
    display: table;
}

.gpii-login-failed-icon1:before, .gpii-login-failed-icon2:before, .gpii-login-failed-icon3:before {
    font-size: 3.2em;
    font-weight: normal;
    background-color: #DFEEEB;
    color: #474C66;
    vertical-align: middle;
    padding-left: 1.2em;
    margin-top: 0em;
    display: inline-block;
    height: 1.08em;
}

.gpii-login-failed-icon2:before, .gpii-login-failed-icon3:before {
    padding-left: 0.3em;
}

.gpii-login-account .gpii-login-username .gpii-login-textfield-icon:before, .gpii-login-notification .gpii-login-failed-icon1:before {
    content: "\e661";
}

.gpii-login-notification .gpii-login-failed-icon2:before {
    content: "\e672";
}

.gpii-login-notification .gpii-login-failed-icon3:before {
    content: "\e633";
}

.gpii-login-account .gpii-login-passwd .gpii-login-textfield-icon:before, .gpii-login-head .gpii-login-icon:before {
    content: "\e65d";
}

/*
    General preferences styling
*/

html {
    font: 1em arial,helvetica,clean,sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #CCCCCC;
    font-family: "Roboto Slab",serif;
}

label {
    display: inline;
}

.gpii-login-main {
    background-color: #F2F2F2;
    font-family: "Roboto Slab",serif;
    width: 600px;
    height: 800px;
    margin: 1em auto;
    border-radius: 0.4em;
}

div.gpii-login-form {
    position: relative;
    display: block;
    width: 520px;
    height: 420px;
    margin: 0.5em auto;
    top: 50px;
    border-top: 0.5em solid #00AAAA;
}

div.gpii-login-form section {
    position: absolute;
    display: block;
    top: 0em;
    left: 0;
    width: 460px;
    height: 15em;
    padding: 40px 30px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    z-index: 0;
}

div.gpii-login-form section:first-child {
    z-index: 1;
}

div.gpii-login-form .gpii-login-icon-text {
    font-family: "Courier-new";
}

div.gpii-login-form section {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.gpii-login-head {
    font-weight: normal;
    font-size: 1em;
    color: #000000;
    padding-left: 40px;
    padding-top: 0.05em;
}

.gpii-login-head .gpii-login-label {
    font-family: Book Antiqua;
    display: block;
    font-size: 2.2em;	
}

.gpii-login-head .gpii-login-description {
    font-family: Courier New;
    font-size: 1em;
    display: block;
}

.gpii-login-linkDescription {
    font-family: Courier New;
    font-size: 1em;
    display: inline-block;
}

.gpii-login-link {
    font-family: Courier New;
    font-weight: bold;
    color: #474C66;
}

.gpii-login-tail {
    position: relative;
    display: table;
    font-weight: normal;
    font-size: 1em;
    background-color: #00AAAA;
    width: inherit;
    height: 3em;
    bottom: -12.3em;
    border-radius: 0px 0px 0.4em 0.4em;
}

.gpii-login-h2 {
    font-weight: bold;
    font-family: Courier New;	
}

.gpii-login-h2-normal {
    font-weight: normal;
    font-family: Courier New;
    font-size: 1.0em;
    line-height: 0em;
    display: inline;
    color: #000000;
}

.gpii-login-label {
    text-align: left;
}

.gpii-login-passwd-header, .gpii-login-username-header {
    font-weight: normal;
    font-family: Courier New;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: inherit;
    line-height: 1.4em;
}

.gpii-signup-textfield {
    font-weight: normal;
    font-family: Courier New;
    font-size: large;
    display: inline-block;
    border: 0em;
}

.gpii-login-textfield {
    width: 23em;
    height: 2em;
    background-color: #F2F2F2;
}

.gpii-login-loginButton {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    background-color: #474C66;
    color: white;
    border: 0px;
    border-radius: 0.3em;
    cursor: pointer;
}

.gpii-login-cancelButton {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 7px;
    float: left;
    background-color: #00AAAA;
    color: #474C66;
    border: 0px;
    cursor: pointer;
}

.gpii-login-overlay {
    position: fixed;
    top: 0;
    width: 600px;
    height: 100%;
    background-color: #00AAAA;
    opacity: 0.8;
    z-index: 10;
    margin: 0em auto;
    border-radius: 0.4em;
}

.gpii-login-modal {
    width: 400px;
    height: 260px;
    line-height: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: #DFEEEB;
    border-radius: 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 11;
}

.gpii-login-notification {
    position: relative;
    font-weight: normal;
    font-family: Verdana;
    font-size: 1em;
    width: 320px;
    height: 200px;
    float: left;
    margin-left: 40px;
    margin-rigth: 40px;
    top: 30px;
    background-color: #DFEEEB;
    color: #474C66;
}

.gpii-login-paddingTop-large {
    padding-top: 5em;
}

.gpii-login-paddingTop-small {
    padding-top: 0.5em;
}

.gpii-login-paddingLeft-small {
    padding-left: 0.3em;
}

.gpii-login-notification-description {
    font-weight: normal;
    font-family: Verdana;
    font-size: 1em;
    width: inherit;
    text-align: center;
    display: block;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

:disabled {
    opacity: 0.4;
    cursor: default;
}

.gpii-login-passwd-header .gpii-login-passwd-description, .gpii-login-username-header .gpii-login-username-description {
    float: right;
    padding-right: 10px;
}

.gpii-login-back {
    font-weight: bold;
    font-family: Verdana;
    font-size: 1.1em;
    padding: 2em 0em 0em 0em;
    float: left;
    background-color: inherit;
    color: #474C66;
    border: 0em;
    cursor: pointer;
}
