/*
    Font icons
*/
@font-face {
    font-family: 'icons-no-frames-aug-29';
    src:url('../fonts/icons-no-frames-aug-29.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-icons-sept-3';
    src:url('../fonts/font-icons-sept-3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sept-12';
    src:url('../fonts/sept-12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
    General preferences styling
*/

body {
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    margin:20px;
}

.gpii-prefsEditor-preferenceGroup {
    background:#e7f1ef;
    width: 340px;
    //min-height: 100px;
}

.gpii-prefsEditor-category {
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.gpii-prefsEditor label::first-letter {
    text-transform: capitalize;
}

.gpii-prefsEditor label {
    text-transform: none !important;
}

.gpii-uiOptions .headerTitle::first-letter {
    text-transform: lowercase;
}

.gpii-prefsEditor label {
    font-size: 0.8em;
}

h2 {
    border-top: 2px solid #dddddd;
    margin-bottom: 5px;
}

h2 > label {
    width: 240px !important;
    word-wrap: break-word;    
}

/*
    Header's styling
*/
.gpii-prefsEditor-headerImage {
    -webkit-font-smoothing: antialiased;
    width: 330;
    margin:5px !important;
    color: white;
    background-color: #566374;    
    position: absolute;
}

.gpii-prefsEditor-headerImage:before {
    font-size: 90px !important;
}

.gpii-prefsEditor-headerImageTick {
    font-size: 20px !important;
    margin-left: 300px;
    margin-top: -30px;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    color: #566374;
}

.gpii-prefsEditor-headerImageTick:before {
    content: "\e00a" !important;
}

input[type=checkbox] + .gpii-prefsEditor-headerImage > .gpii-prefsEditor-headerImageTick{
    display: none;
}

input[type=checkbox]:checked + .gpii-prefsEditor-headerImage > .gpii-prefsEditor-headerImageTick{
    display: block;
}

.gpii-prefsEditor-increaseSizePanel > .gpii-prefsEditor-headerImage:before {
    content: "\e003";
}

.gpii-prefsEditor-contrastPanel > .gpii-prefsEditor-headerImage:before {
    content: "\e002";
}

.gpii-prefsEditor-headerTitle {
    font-family: 'Roboto Slab', serif;
    left: 0; 
    width: 100%;
    color: white;
    text-align: left;
    font-size: 1.8em !important;
    margin: -90px 0 0;
    display: inline;
    line-height: 90px;
    color: #FFFFFF;
    float: left;
    min-height: 90px;
    width: 240px;
    word-wrap: break-word;
    padding-left: 90px;
}

.gpii-prefsEditor-headerClickableLabel {
    cursor: pointer;
    color: transparent !important;
    margin: 5px !important;
    position: relative !important;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    display: none;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

/*
    The adjusters' font icons
*/
.gpii-prefsEditor-adjusterIcons {
    float: left;
    font-family: 'icons-no-frames-aug-29';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.gpii-prefsEditor-adjusterIconsAdditional > .gpii-increaseSize-magnifierPositionIconMain {
    font-family: 'font-icons-sept-3';
    margin-top: 0em;
}

/*
    The cursor size font icons
*/
.gpii-increaseSize-iconSmallCursor:before {
    font-size: 0.8em !important;
    content: "\e000";
}
.gpii-increaseSize-iconBigCursor:before {
    font-size: 1.9em !important;
    content: "\e000";
}
.gpii-increaseSize-iconSmallCursor {
    width: 1em;
    text-align: right;
    padding-top: 0.25em;
}
.gpii-increaseSize-iconBigCursor {
    width: 1em;
    margin-top: -0.5em !important;
}

/*
    The slider's style
*/
.gpii-prefsEditor .gpii-prefsEditor-slider-horz {
    width: calc(330 * 0.8px - 2em);
    margin: 2px !important;
    margin-bottom: 0.7em !important;
}

.gpii-prefsEditor .gpii-prefsEditor-slider a {
    //background: radial-gradient(circle 14.5px at 14.5px 50%, #566374 6px, white 8px);
    border: 1px solid #566374;
}

.gpii-prefsEditor .ui-slider-range {
    background-color: #17a9b8;
}

.gpii-prefsEditor .gpii-prefsEditor-slider a {
    box-shadow: none;
}

/*
    The plusMinusAdjuster style
*/
.gpii-increaseSize-plusMinusNumericalMinus, .gpii-increaseSize-plusMinusNumericalPlus {
    width: 10% !important;
    font-size: 1.5em !important;
    cursor: pointer;
    text-align: center !important;
    background-color: white;
    margin-left: 2px !important;
    margin-right: 2px !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding-top: 0.05em;
    float: left;
}

.gpii-increaseSize-plusMinusNumericalWidget {
    width: 100% !important;
    background-color: #FFFFFF;
    display: table;
}

.gpii-increaseSize-plusMinusNumericalValue {
    width: 76% !important;
    border: none !important;
    text-align: center !important;
    font-size: 1.5em !important;
    margin-top: 1px !important;
    margin-bottom: 2px !important;
}

.gpii-increaseSize-plusMinusNumericalMinReached {
    color: #D3D3D3 !important;
}

/*
    Style for sliding to work
*/
.gpii-increaseSizePreferenceGroup {
    padding-top: 100px;
}

.gpii-prefsEditor-category {
    overflow: hidden;
}

.gpii-prefsEditor-category-hidden {
    overflow: hidden;
}

/*
    Style for more/less
*/
.gpii-prefsEditor-moreLess{
	display: block;
    width:100% !important;
    text-align: center;
    cursor: pointer;
    padding-bottom: 5px !important;
    padding-top: 20px;
}

/*
    Style for magnifier position font icons
*/
.gpii-increaseSize-magnifierPositionIconLabel {
    height: 4.7em !important;
    width: 6.3em !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer;
    background-color: white;
    margin-bottom: 0.5em !important;
    margin-right: 0.5em !important;
}

.gpii-increaseSize-magnifierPositionIcon {
    height: 0 !important;
    width: 0 !important;
    color: #636c7c;
    margin-top: -2px;
}

.gpii-increaseSize-magnifierPositionIcon:before {
    font-size: 5em !important;
}

.gpii-increaseSize-magnifierPositionBackground {
    height: 4.9em !important;
    width: 6.3em !important;
    padding-top: 2px;
}

.gpii-increaseSize-magnifierPositionBackground:before {
    font-size: 4.8em !important;
    content: "\e00b" !important;
}
    
.gpii-increaseSize-magnifierPositionFullscreen > .gpii-increaseSize-magnifierPositionFrame:before {
    font-size: 5em !important;
    content: "\e008" !important;
}

.gpii-increaseSize-magnifierPositionLens > .gpii-increaseSize-magnifierPositionIcon:before {
    content: "\e00a";
} 

.gpii-increaseSize-magnifierPositionFullscreen > .gpii-increaseSize-magnifierPositionIconMain {
    opacity:0.5;
    position: relative;
    top: 0.15em;
    left: 0.15em;
}

.gpii-increaseSize-magnifierPositionFullscreen > .gpii-increaseSize-magnifierPositionIconMain:before {
    content: "\e009";
    font-size: 4.7em !important;
    color: #00a9bd;
}

.gpii-increaseSize-magnifierPositionTop > .gpii-increaseSize-magnifierPositionIconMain:before {
    content: "\e001";
}

.gpii-increaseSize-magnifierPositionBottom > .gpii-increaseSize-magnifierPositionIconMain:before {
    content: "\e004";
}

.gpii-increaseSize-magnifierPositionLeft > .gpii-increaseSize-magnifierPositionIconMain:before {
    content: "\e003";
}

.gpii-increaseSize-magnifierPositionRight > .gpii-increaseSize-magnifierPositionIconMain:before {
    content: "\e002";
}

/*
    Style for magnifier position indicator
*/
.gpii-prefsEditor .gpii-prefsEditor-choice input:checked + div:before {
    content: "\e007";
}
.gpii-prefsEditor .gpii-prefsEditor-choice .gpii-prefsEditor-indicator {
    font-family: 'icons-no-frames-aug-29' !important;
    font-size: 0.8em;
     color: #636c7c;
     position: relative;
     top: 0.4em;
    height: 1em !important;
    margin: -0.75em 0 0 2.15em !important;
    z-index: 11;
}

/*
    Style for magnifier follows font icons
*/
.gpii-increaseSize-magnifierFollowsIconLabel {
    height: 7.8em !important;
    width: 6.5em !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer;
    background-color: #636c7c;
    margin-bottom: 1.5em !important;
    margin-right: 0.5em !important;
}

.gpii-increaseSize-magnifierFollowsIcon {
    font-size: 6.8em !important;
    padding-bottom: 0.2em !important;
    color: white;
}

.gpii-increaseSize-magnifierFollowsRow{
    margin-bottom: 1em !important;
}

.gpii-increaseSize-magnifierFollowsMouseCursor > .gpii-increaseSize-magnifierFollowsIcon:before {
    content: "\e007";
}

.gpii-increaseSize-magnifierFollowsTextCursor > .gpii-increaseSize-magnifierFollowsIcon:before {
    content: "\e000";
}

.gpii-increaseSize-magnifierFollowsKeyboardFocus > .gpii-increaseSize-magnifierFollowsIcon:before {
    content: "\e008";
}

/*
    Style for magnifier follows checked font icons
*/
.gpii-increaseSize-magnifierFollowsIconCheck {
    margin-left: 3.6em;
    margin-top: -2.1em;
}

/*
    Style for magnifier follows legend
*/
.gpii-increaseSize-magnifierFollowsLegend {
    line-height: 1.1em;
    color: #566374;
}

.gpii-increaseSize-magnifierFollowsLegend::first-letter {
    text-transform: capitalize;
}

/*
    Style for preview-per-setting iframe and content
*/
.gpii-prefsEditor-previewPerSettingFrame {
    width: 100% !important;
    margin-top: -1em;
}

.gpii-prefsEditor-previewPerSettingFrame-small {
	height: 80px;
}

.gpii-prefsEditor-previewPerSettingFrame-medium {
	height: 120px;
}

.gpii-prefsEditor-previewPerSettingFrame-large {
	height: 150px;
}

.gpii-prefsEditor-previewPerSettingContainer {
    background-color: white;
    border: 1px solid #beced1;
    color: #B8C9CC;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.gpii-prefsEditor-previewPerSettingEye:before {
    position: relative;
    z-index: 2;
    background-color: transparent !important;
    content: "\e00c";
}

.gpii-prefsEditor-previewPerSettingEyeBackground {
    position: relative;
    background-color: #000000;
    height: 0.34em;
    margin-left: 0.1em;
    margin-top: 0.1em;
    width: 0.5em;
    z-index: 1;
}

.gpii-prefsEditor-previewPerSettingBody {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}

.gpii-prefsEditor-previewPerSettingDiv {
    width: 100%; 
    height: 100%; 
    position: relative;
}

.gpii-prefsEditor-previewPerSettingDivInner { 
    position: absolute; 
    display: table; 
    width: 100%; 
    height: 100%; 
}

.gpii-prefsEditor-previewPerSettingDivInner p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    padding: 10px;
}

.gpii-prefsEditor-previewPerSettingDivInner div {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    padding: 10px;
    float: none;
}

.gpii-prefsEditor-previewPerSettingCursor1:before {
    content: "\e006";
}

.gpii-prefsEditor-previewPerSettingCursor2:before {
    content: "\e005";
}

.gpii-prefsEditor-previewPerSettingCursor3:before {
    content: "\e001";
}

/*
    Style for "Add to my preferences" star font icon
*/
.gpii-prefsEditor-adjusterIconsAdditional {
    font-family: 'font-icons-sept-3';
}

.gpii-prefsEditor-addToMyPreferencesStar:before {
    content: "\e000";
}

.gpii-prefsEditor-addToMyPreferencesStar {
    margin-left: 310px;
    margin-top: 10px;
    color: #6b7281;
      position: absolute;
    font-size: 16px;
    display: table;
    padding: 2px;
}

input:checked + .gpii-prefsEditor-addToMyPreferencesStar {
    color: #fae80b;
    border-radius: 50%;
}

.gpii-prefsEditor-addToMyPreferencesLabel {
    height: 17px !important;
    position: absolute;
    width: 17px !important;
    cursor: pointer;
    margin-left: 310px;
    margin-top: 10px;
    display: table;
    padding: 2px;
}

/*
    Style for tooltips
*/
[title]:after{
    background-color: #f4e413;
    padding:5px;
    position:absolute;
    left:-9999px;
    opacity:0;
    bottom:100%;
    white-space:nowrap;
    -webkit-transition:0.25s linear opacity;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    z-index: 10;
}
[title]:hover:after{
    left:0px;
    opacity:1;
}

.gpii-prefsEditor-addToMyPreferencesLabel[title]:after {
    content:attr(tooltip-unchecked);
}

input:checked + .gpii-prefsEditor-addToMyPreferencesStar + .gpii-prefsEditor-addToMyPreferencesLabel[title]:after {
    content:attr(tooltip-checked);
}

.gpii-increaseSize-magnifierPositionLabel[title] {
    position:relative;
}

.gpii-increaseSize-magnifierPositionLabel[title]:after {
    content: attr(tooltip);
    line-height: 1em !important;
    font-size: 1em;
    white-space:normal;
}

/*
    Style for contrast
*/
.gpii-prefsEditor-theme-yb {
    color: yellow;
    background-color: black;
}

.gpii-prefsEditor-theme-default {
    color: black;
    background-color: white;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-headerImage {
    background-color: black !important;
    color: yellow !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-headerTitle {
    background-color: transparent !important;
    color: black !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-headerClickableLabel {
    background-color: transparent !important;
    color: transparent !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-addToMyPreferencesLabel {
    background-color: transparent !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-addToMyPreferencesStar {
    background-color: yellow !important;
    color: black !important;
}

.gpii-prefsEditor-theme-yb input:checked + .gpii-prefsEditor-addToMyPreferencesStar {
    background-color: black !important;
    color: yellow !important;
}

 .gpii-prefsEditor-theme-yb [title]:after{
    background-color: black !important;
    border: 1px solid yellow !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-headerImage {
    background-color: yellow !important;
    color: black !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-magnifierPositionBackground {
    background-color: transparent !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor-indicator {
    background-color: transparent !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-plusMinusNumericalWidget {
    width: calc(100% - 2px) !important;
    border: 1px solid !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-plusMinusNumericalValue {
    margin-bottom: 1px !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-plusMinusNumericalMinReached {
    color: gray !important;
}

.gpii-prefsEditor-theme-yb .gpii-prefsEditor input:focus + label, .gpii-prefsEditor-theme-yb .gpii-prefsEditor .gpii-prefsEditor-choice input:focus ~ label {
    outline: none !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-plusMinusNumericalValue:focus, .gpii-prefsEditor-theme-yb .gpii-increaseSize-plusMinusNumericalValue *:focus, .gpii-prefsEditor-theme-yb.gpii-increaseSize-plusMinusNumericalValue *:focus, .gpii-prefsEditor-theme-yb .selectable {
    outline: 2px solid #FFFF00 !important;
}

.gpii-prefsEditor-theme-yb .gpii-increaseSize-magnifierFollowsIcon {
    border: 1px solid;
}

/*
    Style for sept-12 font icons
*/
.gpii-prefsEditor-adjusterIcons-sept-12 {
    font-family: 'sept-12';
}

/*
    Style for magnifier.invertColours adjuster
*/
.gpiic-increaseSize-magnifierInvertColours > .gpii-iconCheckAdjusterArea > .gpii-iconCheckAdjusterIcon {
    font-family: 'icomoon';
}

.gpiic-increaseSize-magnifierInvertColours > .gpii-iconCheckAdjusterArea > .gpii-iconCheckAdjusterIcon:before {
    content: "\e002";
    font-size: 70px !important;
}

/*
    Style for icon check adjuster
*/
.gpii-iconCheckAdjusterCheckIcon {
    background-color: #FFFFFF;
    border: 1px solid #636C7C;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: calc(2.3em + 2px);
    height: 1em;
    position: relative;
    width: calc(1em + 2px);
}

input:checked + label > .gpii-iconCheckAdjusterCheckIcon,
input:checked + label > div > label > .gpii-iconCheckAdjusterCheckIcon {
    background-color: 636C7C;
}

input:checked + label > .gpii-iconCheckAdjusterCheckIcon:before,
input:checked + label > div > label > .gpii-iconCheckAdjusterCheckIcon:before {
    content: "\e00a";
}

.gpii-iconCheckAdjusterArea {
	cursor: pointer;
	display: block;
	background-color: white;
	margin: 2px;
	border-radius: 5px;
}

.gpii-iconCheckAdjusterDescription {
	font-size: 1.5em !important;
}

.gpii-iconCheckAdjusterContainer {
	display:table;
    height: 70px;
}

.gpii-table-cell-valign-label {
	cursor: inherit;
	display: table-cell !important;
	vertical-align: middle;
	width: 100%;
	padding-right: 10px;
}

/*
    Style for icomoon font icons
*/
.gpii-prefsEditor-adjusterIcons-icomoon {
    font-family: 'icomoon';
}

/*
    Style for showCrosshairs adjuster
*/
.gpiic-increaseSize-showCrosshairs > .gpii-iconCheckAdjusterArea > .gpii-iconCheckAdjusterIcon {
    font-family: 'icomoon';
}

.gpiic-increaseSize-showCrosshairs > .gpii-iconCheckAdjusterArea > .gpii-iconCheckAdjusterIcon:before {
    content: "\e00f";
    font-size: 70px !important;
}

/*
    Style for followingElement adjuster
*/

.gpii-followingElement-mouseCursorIcon, .gpii-followingElement-textCursorIcon, .gpii-followingElement-keyboardFocusIcon {
    font-family: 'icomoon';
    font-size: 70px !important;
}

.gpii-followingElement-mouseCursorIcon:before {
    content: "\e007";
}

.gpii-followingElement-textCursorIcon:before {
    content: "\e000";
}

.gpii-followingElement-keyboardFocusIcon:before {
    content: "\e005";
}

.gpii-iconCheckAdjusterAreaNoBorder {
	border-radius: 0px !important;
}

.gpii-iconCheckAdjusterAreaTopOnlyBorder {
	border-radius: 5px 5px 0px 0px !important;
}

.gpii-iconCheckAdjusterAreaBottomOnlyBorder {
	border-radius: 0px 0px 5px 5px !important;
}

/*
    Style for contrastTheme adjuster
*/
.gpii-contrastThemeLabel {
	font-size: 1.5em !important;
	border: 2px solid #000000 !important;
	border-radius: 0 !important;
	margin-right: 20px !important;
	padding: 0px !important;
	height: 3em !important;
	width: 3em !important;
	cursor: pointer;
}

.fl-prefsEditor .fl-choice label {
	line-height: 3em !important;
}

.gpii-contrastThemeIndicator {
	margin: 0 0 0 1.5em !important;
}