/*.expand-panel {
    display: none;
}

#speech-rate {
	display: none;
}
*/
#more-options {
    cursor:pointer;
    /*float:left;*/
	/*display: none;*/
}

#speak-text {
    font-size:175%;
    float: left;
}

#speak-text-onoff {
    font-size:80%;
    float:left;
    margin-left:130px;
}

#braille-onoff {
    font-size:80%;
}

.dropdown {
    border: 1px solid blue;"
}

input[type=checkbox].css-checkbox {
                              position: absolute;
                            overflow: hidden;
                            clip: rect(0 0 0 0);
                            height:1px;
                            width:1px;
                            margin:-1px;
                            padding:0;
                            border:0;
                        }

                        input[type=checkbox].css-checkbox + label.css-label {
                            padding-left:20px;
                            height:15px;
                            display:inline-block;
                            line-height:15px;
                            background-repeat:no-repeat;
                            background-position: 0 0;
                            font-size:15px;
                            vertical-align:middle;
                            cursor:pointer;
                        }

                        input[type=checkbox].css-checkbox:checked + label.css-label {
                            background-position: 0 -15px;
                        }

                          .css-label{ background-image:url(../images/lite-cyan-check.png); }


/*
#expanded-top {
	display: none;
}

#expanded-bottom {
	display: none;
}*/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 50%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

body {
    -webkit-user-select: none;
}
